body{
   background: url('baz.jpg') no-repeat center center/cover;
    height: 300px;
     width: auto;
}


#txt{
    text-align: center;
    margin-top: 30px;
  
    font-size: 40px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#home{
/*    flex-direction: column;*/
    padding:3px 200px;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 240px;
}









#yo{
    margin-bottom: 20px;
}
hr {
    width:15%;
    margin:0 auto;
    margin-bottom: 30px;
   border: 2px solid crimson;
  border-radius: 5px;
}






/*
        @media only screen  (max-width:600px) {
        #home{
    flex-direction: column;
    padding:3px 300px;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
           }

            #txt{
        font-size: 30px;
    }
        }

        
*/




















